<!DOCTYPE html>
<html lang="en">
<head> 

    <link rel="stylesheet" href="../_css/style.css"/>
    <meta charset="UTF-8">

    <link rel="manifest" href="/manifest.json"/>
    <link rel="icon" type="image/png" href="/icon-512x512.png"/>
    <link rel="apple-touch-icon" type="image/png" href="/icon-384x384.png"/>
    <link rel="shortcut icon" type="image/png" href="/icon-384x384.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

</head>
<body>

    <h1>Página 2</h1>

    <div>
        <a class="button" href="/">Page 1</a>
        <a class="button" href="page2">Page 2</a>
        <a class="button" href="#">Page 3</a>
        <a class="button" href="#">Page 4</a>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus optio assumenda voluptatem, nostrum soluta deserunt similique saepe, amet animi impedit necessitatibus maiores minus. Libero perspiciatis ullam quibusdam quod ipsam.
    </p>
    <h2>
        Teste Titulo
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel praesentium, fugiat delectus eaque tenetur esse rem voluptatibus. Porro ipsum architecto facilis corporis voluptas reiciendis natus fugit, culpa deleniti dolore?
    </p>
    <h2>
        Teste Título
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis repellat ducimus nam, reprehenderit itaque voluptatem provident neque repudiandae est ad ipsum reiciendis illo unde corporis explicabo optio magnam praesentium!
    </p>
    <h2>
        Teste Título
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis repellat ducimus nam, reprehenderit itaque voluptatem provident neque repudiandae est ad ipsum reiciendis illo unde corporis explicabo optio magnam praesentium!
    </p>

    <script>
        if ('serviceWorker' in navigator){
        navigator.serviceWorker.register('generate-sw.js');
        }
    </script>


    
</body>
</html>